@tailwind base;
a {
  @apply underline text-niebieski;
  &:hover, &:focus {
    @apply text-rozowy;
  }
}
footer a {
  @apply text-blue-200;
  &:hover, &:focus {
    @apply text-blue-100;
  }
}
.planety {
  background: url(/img/planety.svg) 50% 50% no-repeat;
  background-size: 800px 206px;
  @apply bg-fixed;
}
  footer {
    background: url(/img/osmiornica.svg) 75% 106% no-repeat;
    background-size: 300px 308px;
  }
@tailwind components;
.h2 {
  @apply px-2 text-2xl leading-tight uppercase tracking-widest font-black text-center;
  @screen sm {
    @apply text-3xl;
  }
  @screen md {
    @apply text-4xl;
  }
}
.button {
  @apply inline-block text-2xl uppercase tracking-widest font-black no-underline bg-blekitny text-teal-100 px-3 py-2 rounded-lg shadow-md;
  &:hover, &:focus {
    @apply bg-niebieski text-blue-100 shadow;
  }
  @screen sm {
    @apply text-3xl px-4 py-3;
  }
  @screen md {
    @apply text-4xl;
  }
}
.dzien {
  @apply pt-12 border-t-4 mt-4 border-dotted border-zolty px-2 text-2xl leading-tight uppercase tracking-widest font-black text-center mb-10;
  @screen sm {
    @apply text-3xl;
  }
}
.home {
  .prelegent {
    @apply w-full px-2 mb-12 text-center;
    @screen sm {
      @apply w-1/2;
    }
    @screen md {
      @apply w-1/3;
    }
  }
  .nazwisko {
    @apply text-xl text-granatowy font-black uppercase tracking-wider;
  }
  .organizacja {
    @apply text-sm text-gray-700;
  }
  .tytul {
    @apply mt-2 font-bold italic;
  }
}
.nagrania {
  .prelegent {
    @apply max-w-5xl mx-auto px-2 mb-12 text-center pt-6 border-t-2 border-dotted border-blekitny;
  }
  .nazwisko {
    @apply text-2xl text-granatowy font-black uppercase tracking-wider;
  }
  .organizacja {
    @apply text-base text-gray-700;
  }
  .bio {
    @apply mt-3 max-w-2xl mx-auto;
    &:before {
      content: "";
      @apply block mx-auto mb-2 w-32 border-t border-dotted border-rozowy;
    }
  }
  .tytul {
    @apply text-2xl leading-snug font-bold italic mt-2 mb-8 mx-auto;
    @screen md {
      @apply text-3xl;
    }
  }
}
.foto {
  @apply rounded-full shadow mx-auto my-4;
}
.argumenty li {
  @apply w-full max-w-lg px-2 mb-8 text-center;
  @screen sm {
    @apply w-1/2 px-4;
  }
  @screen md {
    @apply w-1/3;
  }
}
.jak-dziala p {
  @apply px-2;
  @screen sm {
    @apply px-8;
  }
  &:not(:first-child) {
    @apply pt-6 border-t-4 border-dotted border-rozowy mt-6;
  }
}
@tailwind utilities;